li {
  list-style: none;
  /* background-color: #d1cdcd8d; */
  margin: 5px auto 5px auto;
  color: #ffffff;
  box-sizing: border-box;
  box-shadow: -2px 2px 1px #221fb8;
  text-align: center;
  padding: 0px 0px;
}
ul {
  display: inline-block;
  display: inline;
  max-width: 900px;
  padding-left: 0px;
}
section {
  display: inline-block;
  width: 400px;
}
a:hover {
  color: #ffffff;

}
body {
  background-color: #000000;
  color: #ffe6e6;
}
footer {
  margin: 200px auto;
  color: hsl(0, 100%, 99%);
}
header a {
  display: block;
  padding: 5px;
  margin: 20px auto auto;
  width: fit-content;
  border: 1px outset;
  
  color: #ffffff;
  text-decoration-line: none;
  border-radius: 1px;
  background-color: #211fb823;
}
header a:hover {
  border-color: #ffffff00;
  text-decoration-line:underline;
}
header {
  align-content: center;
  max-width: 900px;
  margin: auto;
  
}
header p{
  display: inline-block;
  width: fit-content;
  font-size: small;
  color: #0c53f9;
  text-align: right;
}
h1 {
  display: block;
  width: fit-content;
  margin:auto;
  margin-top: 20px;
  font-size: 30px;
  padding: 5px;
  border: 3px outset #221fb8;
  border-bottom: none;
  border-radius: 5px;
}
