li {
  list-style: none;
  /* background-color: #d1cdcd8d; */
  margin: 5px auto 5px auto;
  color: #ffffff;
  box-sizing: border-box;
  box-shadow: -2px 2px 1px #221fb8;
  text-align: center;
  padding: 0px 0px;
}
ul {
  display: inline-block;
  display: inline;
  max-width: 900px;
  padding-left: 0px;
}
section {
  display: inline-block;
  width: 400px;
}

body {
  background-color: #000000;
  color: #ffe6e6;
}
footer {
  margin: 200px auto;
}
#link {
  color:#2622ff;
}
